<!DOCTYPE html>
<html lang="en">
<head>

        <link rel="stylesheet" href="static/css/bootstrap.min.css" >

        <link rel="stylesheet" href="static/main.css" >

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Task App</title>
</head>
<body>

    <div class="container">
        
 


            <form action="/create" method="POST">
                <div class="row">
                  <div class="col">
                    <input type="text" name="amount"class="form-control" placeholder="MONTO">
                  </div>
                  <div class="col">
                    <input type="text" name="method" class="form-control" placeholder="METODO">
                  </div>
                  <div class="col">
                    <input type="text" name="reason" class="form-control" placeholder="MOTIVO">
                  </div>
                  <div class="form-group col-md-1">
                    <button class='btn btn-primary' type="submit">aceptar</button>
                  </div>
                </div>
              </form>
 
               
    </div>
    <div class="card col-md-4 col-md-offset-4">
        <div class="card-body">
            {% for operation in operations %}
            <ul class="list-group">
                <li class="list-group-item"><small>{{ operation.date_created}} || <span class="op-amount"> {{operation.amount}} </span> || {{operation.method}} || {{operation.reason}}</small></li>
            </ul>
            {% endfor %}

            <h6>ZELLE:  ${{sumZelle}}</h6>
            <h6>PUNTO DE VENTTA: BsS. {{sumPunto}}</h6>
            <h6>DOLARES EN EFECTIVO: ${{sumEfectivoD}}</h6>
            <h6>BOLIVARES EN EFECTIVO: BsS. {{sumEfectivoBS}}</h6>

              
        </div>
    </div>
    </div>
    </div>
 
    

    <script type="text/javascript">

          var formatter = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'USD',

            // These options are needed to round to whole numbers if that's what you want.
            //minimumFractionDigits: 0,
            //maximumFractionDigits: 0,
          });

          var amounts = document.getElementsByClassName("op-amount");
          for (var i = 0; i < amounts.length; i++) {

               amounts[i].innerHTML = formatter.format(parseFloat(amounts[i].innerHTML));
          }
    
      </script> 
     
</body>
</html>